<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <h1>싱글 연습(동기식)</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="userfile"/><br/>
        <input type="text" name="title" /> <br/>
        <button type="submit">업로드</button>
    </form>

    <h1>멀티 연습(ver1) : 한번에 여러개 업로드</h1>
    <form action="/upload/array" method="post" enctype="multipart/form-data">
        <input type="file" name="userfiles" multiple /></br>
        <input type="text" name="title" /><br/>
        <button type="submit">업로드</button>
    </form>

    <h1> 멀티 연습(ver2) : 여러개의 요청</h1>
    <form action="/upload/fields" method="post" enctype="multipart/form-data">
        <input type="file" name="userfile1" multiple/><br/>
        <input type="text" name="title1"><br/>
        <input type="file" name="userfile2"/><br/>
        <input type="text" name="title2"><br/>
        <button type="submit">업로드</button>
    </form>


    <h1>동적 폼 onsubmit</h1>
    <form onsubmit="fileupload(event)">
        <input type="file" id="dynamic"/><br/>
        <input type="text" id="title"/> <br/>
        <button type="submit">업로드</button>
    </form>
    <br/>
    <div class="result"></div>

    <script>
        async function fileupload(event) {
            event.preventDefault(); // 기본 제출 동작을 막음
            console.log('file upload');
            
            const result = document.querySelector('.result');
            const title = document.querySelector('#title').value;
            /**
             * 파일에 접근하기 위해서 file.files사용하는 것이고
             * file.files는 배열을 반환하며 우리가 원하는것은
             * 첫번째 파일이기때문에 file.files[0] 사용함!
             */
            const file = document.querySelector('#dynamic');
            console.log(title, file.files);
            console.log(file.files[0]);

            // 자바스크립트 내장객체
            const fomrdata = new FormData();
            // append(key, value)
            // !중요 : 파일은 항상 제일 마지막에 선언
            fomrdata.append('title', title);
            fomrdata.append('dynamic', file.files[0]); 
            const postFileRes = await axios({
                method: 'POST',
                url : '/dynamic',
                data: fomrdata,
                headers : {
                    'Content-Type' : 'multipart/form-data'
                }
            })

             if (postFileRes) {
                console.log(postFileRes.data.path);
                result.innerHTML = `<img src=${postFileRes.data.path} />`
            } else {
            }
        }

    </script>


</body>
</html>