<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

    <ul></ul>

    <form id="chat">
        <input type="text" id="message" placeholder="채팅내용"/><br/>
        <button>채팅</button>
        <button type="button" onclick="leave()">나가기</button>
    </form>

    <script>
        const chatFrom = document.querySelector('#chat');
        const ul = document.querySelector('ul');
        const socket = io();
        const chatRoom = prompt("채팅방명을 입력하세요.");
        socket.emit("join",chatRoom);

        // 브라우저
        socket.on('create', (res) => {
            console.log('res', res)
            const li = document.createElement('li');
            li.textContent = res;
            ul.appendChild(li);
        })

        //서버에새 보내주는 값
        socket.on('chat', (res) => {
            console.log('res', res)
            const li = document.createElement('li');
            li.textContent = res;
            ul.appendChild(li);
        })

        // 룸 이벤트
        chatFrom.addEventListener('submit', (e) => {
            e.preventDefault();
            const msg = chatFrom.querySelector('#message');
            socket.emit('message', msg.value);
            msg.value = "";
        })

        function leave() {
            console.log('leave');
            socket.emit('leave');
        }

    </script>
</body>
</html>