<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>

    <div class="navigation">
        <a href="/">home</a>
        <a href="./fruit">fruit</a>
        <a href="./larva">larva</a>
        <a href="./multiplicationTables">multiplicationTables</a>
    </div>
    
</body>
</html>